<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvestigationJob.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="SignInScreen">
        <div class="MainDashboard">
            <div class="Menu">
                <img class="Logo" src="">
                <button class="BtnBase">Acesse</button>
            </div>
            <div class="Inputs">Inputs</div>
            <div class="Image"> Image</div>
            <div class="Pages">
                <div class="Dashboard">
                    <div class="WidthStructure">
                        <button class="BtnBody">
                            <div class="TextPage1">Dashboard</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="Background1">
                <div class="rec-8"></div>
            </div>
        </div>
    </div>
</body>
</html>