<div class="SignInScreen">
    <img class="Vortico" src="https://i.pinimg.com/originals/b3/71/9a/b3719a01f0dba7728d12396475a09e1b.jpg" />
    <div class="Group123">
        <h1 class="TextInputs">IJ Login</h1>
        <div class="TextInputs">Email</div>
        <input class="InputElements" />

        <div class="TextInputs">Senha</div>
        <input class="InputElements" />
        <a asp-action="ProfilePage">
            <button class="btn btn-primary" type="submit">Acessar</button>
        </a>

        <a asp-action="MainPage">
            <link />
        </a>
        
    </div>
</div>