<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvestigationJob.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="SignInScreen">
        <div class="Group123">
            <div>Senha</div>
            <button>Botao Grande</button>
        </div>   
    </div>
</body>
</html>