<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body class="ProfilePage">
    <div class="SideBar">
        <img class="LogoProfile" />
        <div class="LinaProfile"></div>
        <div class="MenuSideBar">
            <div class="Dashboard">Dahsboard</div>
            <div class="Perfil">Perfil</div>
            <div class="Investigacoes">Investigacoes</div>
            <div class="Pagamentos">Pagamentos</div>
            <div class="Ajuda">Ajuda</div>
            <div class="Configuracoes">Configuracoes</div>
            <div class="Sair">Sair</div>
        </div>
    </div>
    <div class="MainProfilePage">
        <div class="Breadcrumb">Breadcrumb</div>
        <div class="ProfileElements">
            <div class="Avatar">
                <div class="IconAvatar"></div>
                <div class="ImageAvatar"></div>
                <div class="TextAvatar">
                    <div class="NameAvatar">Raphael Duarte</div>
                    <div class="AvatarEmail">raphaelduartessph@gmail.com</div>
                </div>
            </div>
            <div class="BackgrouProfileElements">
                <div class="BackgroundProfileElementsRectangle-1"></div>
                <div class="BackgroundProfileElementsRectangle-2"></div>
            </div>
        </div>
    </div>

</body>
<style>
    .ProfilePage {
    }

    .LogoProfile {
        position: absolute;
        width: 135px;
        height: 14px;
        left: 74px;
        top: 46px;
    }

    .LineProfile {
        border: 1px solid;
        border-image-source: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
    }

    .SideBar {
        border: 1px solid;
        border-image-source: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
        /* Rectangle 55 */


        position: absolute;
        width: 264px;
        height: 1135px;
        left: 10px;
        top: 10px;
        background: linear-gradient(111.84deg, rgba(6, 11, 38, 0.94) 59.3%, rgba(26, 31, 55, 0) 100%);
        backdrop-filter: blur(60px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;
        background-color: white;
    }

    .MenuSideBar {
        position: absolute;
        width: 219.5px;
        height: 396px;
        left: 32px;
        top: 126px;
        font-family: Plus Jakarta Display;
        color: rgba(255, 255, 255, 1);
    }

    .ProfileElements {
        /* Profile Elements */


        position: absolute;
        width: 1598px;
        height: 129px;
        left: 298px;
        top: 117px;
    }

    .Avatar {
        /* Avatar */


        position: absolute;
        width: 247px;
        height: 85px;
        left: 320.5px;
        top: 139px;
    }

    .TextAvatar {
        /* Name */


        position: absolute;
        width: 145px;
        height: 46.5px;
        left: 422.5px;
        top: 156.5px;
    }

    .NameAvatar {
        /* Mark Johnson */


        position: absolute;
        width: 117px;
        height: 25px;
        left: 422.5px;
        top: 156.5px;
        font-family: 'Plus Jakarta Display';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */


        color: #FFFFFF;
    }

    .EmailAvatar {
        /* mark@simmmple.com */


        position: absolute;
        width: 145px;
        height: 21px;
        left: 422.5px;
        top: 182px;
        font-family: 'Plus Jakarta Display';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
        /* Gray/Gray-400 */

        color: #A0AEC0;
    }

    .BackgrouProfileElements{
        /* Background */


        position: absolute;
        width: 1598px;
        height: 129px;
        left: 298px;
        top: 117px;


    }

    .BackgroundProfileElementsRectangle-1{
        /* Rectangle 44 */


        position: absolute;
        width: 1598px;
        height: 129px;
        left: 298px;
        top: 117px;
        background: linear-gradient(112.83deg, rgba(6, 11, 40, 0.94) 0%, rgba(10, 14, 35, 0.62) 110.84%);
        box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
        backdrop-filter: blur(10.5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;
    }

    .BackgroundProfileElementsRectangle-2{
        /* Rectangle 43 */


        position: absolute;
        width: 1598px;
        height: 129px;
        left: 298px;
        top: 117px;
        background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
        backdrop-filter: blur(60px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 20px;
    }

</style>
</html>