body {
    
    background: rgba(6, 11, 38, 1);
}

.container{
    
    padding: 0;
}

.SignInScreen {
    display:inline-block;
    
}

.Group123{
    position: absolute;
    top: 35vh;
    
    padding-left: 68vw;
    display: inline-block;
    
    
}

.btn-primary{
    display: block;
    margin-top:1vh;
    
}

.TextInputs{
    color:white;
}

.InputElements{
    
}

.Vortico {
    
    height: 100vh;
    width: 60vw;
    overflow-y: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}

.vsc-inicialize{
    margin: 0;
    padding: 0;
}