html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.SignInScreen {
    height: 1032px;
    width: 1920px;
    left: 2384px;
    top: -791px;
    border-radius: 0px;
    background-color: indianred
}

.Menu {
    border: 2px solid;
    border-image-source: radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    height: 70px;
    width: 987.5px;
    left: 466px;
    top: 24px;
    border-radius: 5px;
    /* Menu */


    position: absolute;
    width: 987.5px;
    height: 70px;
    left: 466px;
    top: 24px;
}

.BtnBase {
    height: 34.969051361083984px;
    width: 150px;
    left: 1279.5px;
    top: 41.46331787109375px;
    border-radius: 12px;
    padding: 0px 8px 0px 8px;
    background: rgba(0, 117, 255, 1);
    /* _Button/Base */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    position: absolute;
    left: 66.64%;
    right: 25.55%;
    top: 4.02%;
    bottom: 92.59%;
    background-color: #0075FF;
    backdrop-filter: blur(60px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px;
}

.Logo {
    height: 14px;
    width: 135px;
    left: 489px;
    top: 50px;
    border-radius: nullpx;
    /* Logo */


    position: absolute;
    width: 135px;
    height: 14px;
    left: 489px;
    top: 50px;
}
.Pages {
    height: 22.48011016845703px;
    width: 350px;
    left: 799px;
    top: 47.95758056640625px;
    border-radius: 12.000000953674316px;
    /* Pages */


    position: absolute;
    width: 350px;
    height: 22.48px;
    left: 799px;
    top: 47.96px;
}

.Dashboard {
    height: 22.48011016845703px;
    width: 81.5px;
    left: 799px;
    top: 47.95758056640625px;
    border-radius: 12.000000953674316px;
    padding: 0px 8px 0px 8px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    position: absolute;
    left: 41.61%;
    right: 54.14%;
    top: 4.65%;
    bottom: 93.17%;
    border-radius: 12px;
}
.WidthStructure {
    height: 24.0047607421875px;
    width: 80px;
    left: 0.75px;
    top: -0.7623291015625px;
    border-radius: 0px;
    /* Width Structure */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 80px;
    height: 24px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.BtnBody {
    height: 15px;
    width: 80px;
    left: 0px;
    top: 4.5px;
    border-radius: 0px;
    /* Button Body */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 80px;
    height: 15px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.TextPage1 {
    height: 15px;
    width: 65px;
    left: 15px;
    top: 0px;
    border-radius: 0px;
    font-family: Plus Jakarta Display;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    /* Text */


    width: 65px;
    height: 15px;
    font-family: 'Plus Jakarta Display';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    /* identical to box height, or 15px */

    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.rec-8 {
    /* Rectangle 8 */


    position: page
    width: 1920px;
    height: 1038px;
    left: 0px;
    top: -6px;
    background: linear-gradient(159.02deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
}