@{
    ViewData["Title"] = "Login";
}
<div class="SignInScreen">
    <div class="NewDesign">
        <div class="MainDashboard">
            <div class="Menu">
                <div class="Logo">Investigation Job</div>
            </div>
        </div>
    </div>
</div>
