@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="LoginContainer">
    <div class="MainDashboard">
        <div class="Menu"></div>
        <div class="Inputs"></div>
        <div class="Image"></div>
        <div class="Background"></div>
    </div>
</div>
